[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
aria2p = "*"
pyrogram = "==2.0.83"
tgcrypto = "*"
uvloop = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
